<style>
  .jc .item-note{font-size: 1em;color:#444;}
  .jc .yylp{margin-right:-0.7em;}

  .jc .doubleIcon .tel,.jc .doubleIcon .msg{font-size: 1.6em;color:#6bd492;}
  .jc .doubleIcon .tel{}
  .jc .doubleIcon .msg{}
</style>
<ion-view view-title="叫车" hide-nav-bar="true">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="h1 title" style="font-family: '华文细黑';">叫车</div>
  </div>
  <ion-content class="has-header" style="background-color: #f8f8f8;">
    <div class="list jc" style="background-color: #fff;">
      <label class="item item-icon-left item-icon-right" style="border:none;">
        <i class="icon ion-ios-home-outline"></i>
        预约楼盘
        <span class="item-note yylp" ng-click="openBookLpModal()">
          {{bookLpName}}
        </span>
        <button class="button icon ion-ios-arrow-down" style="padding:0;min-width: 8px;background-color: #fff;" ng-click="openBookLpModal()"></button>
      </label>

      <label class="item item-icon-left">
        <i class="icon ion-ios-timer-outline"></i>
        预约时间
        <span class="item-note">
          2015-12-23
        </span>
      </label>

      <div class="item item-icon-left item-icon-right doubleIcon">
        <i class="icon ion-ios-person-outline"></i>
        接待人
        <span class="item-note" style="margin-right: 2.4em;">
          {{jdr.name}} {{jdr.phone}}
          <button class="button button-clear icon ion-ios-telephone tel" style="position:absolute;right:2em;padding:0;overflow: hidden; min-width:20px;" ng-click="dial(jdr.phone)"></button>
        </span>
        <button class="button icon button-clear ion-ios-chatbubble msg" style="position:absolute;padding:0;margin:0; min-width:20px;" ng-click="sms(jdr.phone)"></button>
      </div>
    </div>

    <div class="list jc" ng-show="showCar">
      <div class="item item-icon-left item-icon-right doubleIcon">
        <i class="icon ion-ios-person-outline"></i>
        接送司机
        <span class="item-note" style="margin-right: 2.4em;">
          {{jssj.name}} {{jssj.phone}}
          <button class="button button-clear icon ion-ios-telephone tel" style="position:absolute;right:2em;padding:0;overflow: hidden; min-width:20px;" ng-click="dial(jssj.phone)"></button>
        </span>
        <button class="button icon button-clear ion-ios-chatbubble msg" style="position:absolute;padding:0;margin:0; min-width:20px;" ng-click="sms(jssj.phone)"></button>
      </div>

      <label class="item item-icon-left">
        <i class="icon ion-android-car"></i>
        车牌号码
        <span class="item-note">
          {{jssj.carName}} {{jssj.carColor}} {{jssj.carNumber}}
        </span>
      </label>
    </div>

    <div class="list jc" style="margin-bottom:-.6em;padding-bottom: 0;">
      <div style="margin:0 auto;background: url(img/CarCoupon.png) no-repeat center center;width:80vw;height:100px;background-size: cover;">
        <div style="width:30vw;height:4em;text-align: center;position: absolute;bottom: 0.5em;left:50%;margin-left: -15vw;">
          <span style="background-color: #cacaca;color:#fff;padding: .6em;border-radius: 2em;margin-right: 0.6em;">去</span>
          <span style="background-color: #eb5039;color:#fff;padding: .6em;border-radius: 2em;margin-left: 0.6em;">返</span>
        </div>
      </div>
      <div style="clear:both;margin:0 auto;text-align: center;line-height: 2em;">
        <p>预计<span style="color:#eb5039;">2</span>小时<span style="color:#eb5039;">30</span>公里</p>
      </div>
    </div>

    <div class="list jc">
      <label class="item item-icon-left">
        <i class="icon ion-ios-circle-outline" style="font-size: .6em;"></i>
        <button class="button button-clear" ng-click="getPosition()">{{localAddress.address}}</button>
      </label>

      <label class="item item-icon-left item-icon-right" style="border:none;">
        <i class="icon ion-ios-circle-outline" style="font-size: .6em;color:#f7dc69;"></i>
        <span>选择楼盘</span>
        <span class="item-note yylp">
          {{bookLpName}}
        </span>
        <button class="button icon ion-ios-arrow-down" style="padding:0;min-width: 8px;background-color: #fff;" ng-click="openBookLpModal()"></button>
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-energized" ng-show="callBtn.isShow" ng-disabled="!callBtn.isEnable" style="color:#000;font-family: '华文细黑';" ng-click="callCar()">
        {{callBtn.btnText}}
      </button>
      <button class="button button-block button-energized" ng-show="cancelCar" ng-click="cancelCarHandle()" style="color:#000;font-family: '华文细黑';">
        取消叫车
      </button>
    </div>
  </ion-content>
</ion-view>

<script id="bookLpModal.html" type="text/ng-template">
  <div class="modal" id="bookLpModal" style="background-color: rgba(0,0,0,.5);">
    <ion-header-bar>
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="closeBookLpModal()"></button>
      <h1 class="title">已预约楼盘</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-radio ng-model="lpName" ng-value="lp.name" ng-repeat="lp in bookLpArray" ng-click="selectBookLp(lp.name)">{{lp.name}}</ion-radio>
      </ion-list>
    </ion-content>
  </div>
</script>
