<!--<ion-tabs class="tabs-dark tabs-icon-top">-->
  <!--<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/houseDetail">-->
    <!--<ion-nav-view name="tab-houseDetail"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">-->
    <!--&lt;!&ndash; Tab 1 content &ndash;&gt;-->
  <!--</ion-tab>-->

  <!--<ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">-->
    <!--&lt;!&ndash; Tab 2 content &ndash;&gt;-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">-->
    <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->
  <!--</ion-tab>-->
<!--</ion-tabs>-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="样板间" icon-off="lp" icon-on="lp" href="#/house/houseDetail">
    <ion-nav-view name="tab-houseDetail"></ion-nav-view>
  </ion-tab>
  <ion-tab title="实景图" icon-off="dd" icon-on="dd" href="#/house/houseSjt">
    <ion-nav-view name="tab-houseSjt"></ion-nav-view>
  </ion-tab>
  <ion-tab title="在售楼" icon-off="gz" icon-on="gz" href="#/tab/houseZsl">
    <ion-nav-view name="tab-houseZsl"></ion-nav-view>
  </ion-tab>
  <ion-tab title="周边" icon-off="xx" icon-on="xx" href="#/tab/houseZb">
    <ion-nav-view name="tab-houseZb"></ion-nav-view>
  </ion-tab>
</ion-tabs>

