<ion-view hide-nav-bar="true">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="h1 title" style="font-family: '华文细黑';">碧湖东岸</div>
  </div>


  <div>
    <ion-slides options="options" slider="slider" style="margin-top:54px;height:240px;">
      <ion-slide-page ng-repeat="slider in sliderArr" on-release="onSliderShow($index)">
        <img ng-src="{{slider.img}}" alt="" style="" />
        <p style="margin:0;" ng-bind-html="slider.name"></p>
        <p style="margin:0;">售价：<span style="color:#f62e2e;font-weight: 700;" ng-bind="slider.price"></span></p>
        <p style="margin:0;" ng-bind-html="slider.label"></p>
      </ion-slide-page>
    </ion-slides>
    <div class="swiper-pagination"></div>
  </div>

  <ion-content style="top:330px;" scroll="false">
    <button ng-click="changeXY(300,300)">click</button>
  <ion-scroll  direction="xy" id="map_content" style="width:375px;height:290px; overflow: scroll;" min-zoom="0.3" max-zoom="1" zooming="true">
    <div style="width:1600px;height:1249px;background: url('img/house/ld.jpg')">
      <div class="ldLabel" ng-repeat="ldLabel in map.ld" ng-style="{top: ldLabel.y + 'px',left: ldLabel.x + 'px'}">{{ldLabel.ldh}}</div>
      <div class="ldLabel" style="top:200px;left:200px;">test</div>
    </div>
  </ion-scroll>
  </ion-content>


</ion-view>
<ion-tabs class="tabs-icon-top"  style="background-color: #000 !important;">
  <ion-tab title="样板间" icon-on="ybjOn" icon-off="ybj" href="#/houseDetail">
  </ion-tab>
  <ion-tab title="实景图" icon-on="sjtOn" icon-off="sjt" href="#/houseSjt">
  </ion-tab>
  <ion-tab title="在售楼" icon-on="zslOn" icon-off="zsl" href="#/houseZsl">
  </ion-tab>
  <ion-tab title="周边" icon-on="zbOn" icon-off="zb"  href="#/houseZb">
  </ion-tab>
</ion-tabs>
