<ion-view view-title="house" hide-nav-bar="true">
  <div class="bar bar-header bar-clear">
    <button class="button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-left" style="color:#fff;"></i></button>
    <div class="h1 title" style="font-family: '华文细黑';">获取优惠</div>
  </div>

  <ion-content style="position:absolute;width:100%;min-height:100%;" >
    <div style="position:absolute;background-image: url('img/lp.jpg') ;width:100%;height:100vh;background-size: cover;-webkit-filter: blur(10px); -moz-filter: blur(10px); -o-filter: blur(10px); -ms-filter: blur(10px); filter: blur(10px);"></div>
    <div style="position:absolute; width: 100%;height:100%;top:44px;">
      <img src="img/yh-a.jpg" style="display:block;padding:6vh 10vw 2vh 10vw;;width:100%;height:auto;" />

      <p style="font-family: '华文细黑';font-size:4vw;line-height:2em;color:#fff;margin:1vh 4vw;padding: .2em .6em;border:1px dashed #e8bda4;border-radius: .3em;">30万抵一口价，客户成交只需要房款，电商30万，3%的契税，0.05的印花税，0.5%过户费</p>

      <div class="padding hqyh">
        <label class="item-input item-stacked-label">
          <span class="input-label" style="color:#555;">电话：</span>
          <input type="tel" placeholder="请输入电话号码" style="background: none;border-bottom: 1px solid rgba(256,256,256,.5);">
          <button class="button button-energized" style="position:absolute;top:1em;right:0;min-height:30px;font-size: 1em;font-family: '华文细黑';padding: 0 .4em;color:#000;">获取验证码</button>
        </label>
        <label class="item-input item-stacked-label">
          <span class="input-label" style="color:#555;">验证码：</span>
          <input type="text" placeholder="请输入验证码" style="background: none;border-bottom: 1px solid rgba(256,256,256,.5)">
        </label>
        <button class="button button-full button-energized" style="color:#000;font-family: '华文细黑';">确定</button>
      </div>

    </div>
  </ion-content>
</ion-view>
