<ion-view>
  <div class="bar bar-header bar-stable">
    <h2 style="padding-left:.4em;color:#d1d1d1;"><i class="icon ion-ios-arrow-left"></i></h2>
    <h1 class="title" style="font-family: '华文细黑';"><i class="icon ion-happy-outline"></i> 陛下，请登录</h1>
  </div>

  <ion-content class="has-header" style="background-color: #efefef;">
    <div class="titleBox">
      <span class="border"></span>
      <span>验证登录</span>
      <span class="border"></span>
    </div>

    <div class="titleBox">
      <span class="border"></span>
      <span>微信登录</span>
      <span class="border"></span>
    </div>
  </ion-content>
</ion-view>
